.spanTextStrikeThrough{
    text-decoration: line-through;
    margin-left: 10px;
  }
  
  .spanTextRegular {
    text-decoration: none;
    margin-left: 10px;
  }

  .deleteBtn {
    margin: 30px;
  }
  