.checkboxHideStyle = {
  display: 'none'
};

.inputBtnStyle = {
  marginRight: '20px'
};

.checkboxShowStyle = {
  display: 'block'
};

.todoListTypeStyle = {
  listStyleType: 'none'
};

.spanTextStrikeThroughStyle = {
  textDecoration: 'line-through'
};

.spanTextRegularStyle = {
  textDecoration: 'none'
};

.deleteBtnStyle = {
  margin: '30px'
}
