.checkboxHideStyle {
  display: none;
}

.inputBtnStyle {
  margin-right: 20px;
}

.checkboxShowStyle {
  display: block;
}

.todoListTypeStyle {
  list-style-type: none;
}

.spanTextStrikeThroughStyle {
  text-decoration: line-through;
  margin-left: 10px;
}

.spanTextRegularStyle {
  text-decoration: none;
  margin-left: 10px;
}

.deleteBtnStyle {
  margin: 30px;
}
